body {
    font-family: 'Futura', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    background: #000000; /* Darker background color */
    color: #ccc; /* Lighter text color */
    cursor: default;
}

.header {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background: #050505; /* Darker background color */
    border-radius: 8px;
}

.header h1 {
    font-size: 50px;
}

.btn-primary {
    position: relative; /* Ensure the button is positioned relatively */
    text-align: center;
    background-color: #050505; /* Darker button color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 
    -7px 0 5px -5px #4D194D, /* Purple shadow on the left */
    0 -5px 5px -5px #4D194D, /* Purple shadow on the top */
    7px 0 5px -5px #065A60,  /* Green shadow on the right */
    0 5px 5px -5px #065A60;  /* Green shadow on the bottom */
    text-shadow: #111 1px 2px 3px;
    color: #fff; /* White text color */
    padding: 12px 22px;
    overflow: hidden; /* Hide overflow content */
    transition: all 0.3s ease; /* Add transition for smoothness */
}

.btn-primary:hover {
    animation: rotateBoxShadow 0.5s forwards ease-in-out; /* Run animation once and retain the final state */
}

button a {
    font-family: 'Futura', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #ccc; /* Lighter text color */
    font-weight: bold;
}

button a:hover {
    text-decoration: none;
    color: #eee; /* Lighter hover text color */
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    border-radius: 8px;
    color: #fff;
    padding: 20px;
    margin-top: 5%;
}

.footer-center {
    flex-grow: 1;
    text-align: center;
    padding-right: 7%;
}

.footer-right {
    text-align: right;
    padding-right: 2%;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
}

.footer-right a:hover {
    filter: drop-shadow(-5px 0 5px #4D194D) drop-shadow(5px 0 5px #065A60);
}

.custom-toast {    
    background-color: #050505 !important; /* Darker button color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 
    -17px 0 25px -5px #4D194D, /* Purple shadow on the left */
    0 -17px 25px -5px #4D194D, /* Purple shadow on the top */
    17px 0 25px -5px #065A60,  /* Green shadow on the right */
    0 17px 25px -5px #065A60;  /* Green shadow on the bottom */
    text-shadow: #050505 1px 2px 3px;
    color: white !important;
  }
  
  .custom-toast-body {
    padding: 16px;
  }
  
  .custom-toast-close {
    color: white !important;
  }
  .custom-toast-progress {
    background-color: #0a919b !important; /* Your desired progress bar color */
  }
  
@keyframes rotateBoxShadow {
    0% {
        box-shadow: -7px 0 5px -5px #4D194D, 7px 0 5px -5px #065A60, 0 0 10px -5px #4D194D, 0 0 10px -5px #065A60;
    }
    25% {
        box-shadow: 
        0 -7px 5px -5px #4D194D, 0 7px 5px -5px #065A60, 0 0 10px -5px #4D194D, 0 0 10px -5px #065A60;
    }
    50% {
        box-shadow: 7px 0 5px -5px #4D194D, -7px 0 5px -5px #065A60, 0 0 10px -5px #4D194D, 0 0 10px -5px #065A60;
    }
    75% {
        box-shadow: 
        0 7px 5px -5px #4D194D, 0 -7px 5px -5px #065A60, 0 0 10px -5px #4D194D, 0 0 10px -5px #065A60;
    }
    100% {
        box-shadow: 
        -5px 0 15px -5px #4D194D, /* Purple shadow on the left */
        0 -5px 15px -5px #4D194D, /* Purple shadow on the top */
        5px 0 15px -5px #065A60,  /* Green shadow on the right */
        0 5px 15px -5px #065A60;  /* Green shadow on the bottom */
    }
}
@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column; /* Change to column layout on smaller screens */
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 20px;
    }
    
    .footer-center {
        text-align: center;
        margin-bottom: 10px; /* Add space between copyright and menu */
        margin-top: 10px; /* Add space between copyright and menu */
        padding-right: 0%;
    }
    
    .footer-right {
        text-align: center; /* Center align menu */
    }
}